# files in any output folders
output/
*.csv
*.xlsx

# C extensions
*.so

# documents
*.pdf

# vim backups
*~

# images
*.png 

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
